<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img mb-4">
                <img src="~/img/testCardImg.jpg" class="mb-4" alt="" />
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-sm">Jordan Rashkov</h4>
                <p class="m-b-sm">Bulgaria, 30</p>
                <a asp-page="./Edit" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
                <a href="#" class="btn btn-xs btn-primary mb-2">Message Me</a>
            </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a asp-page="./Index">ABOUT</a></li>
            <li class="nav-item"><a asp-page="./Photos">PHOTOS</a></li>
            <li class="nav-item"><a href="#profile-photos">MITB</a></li>
            <li class="nav-item"><a href="#profile-photos">LEXICON</a></li>
            <li class="nav-item"><a href="#profile-photos">LAST VISITORS</a></li>
        </ul>
    </div>
</div>