<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img mb-4">
                <img id="myImg" src="~/img/testCardImg.jpg" alt="Picture of me" class="mb-4"/>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-sm">Jordan Rashkov</h4>
                <p class="m-b-sm">Bulgaria, 30</p>
                <a asp-page="./Edit" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
                <a href="#" class="btn btn-xs btn-primary mb-2">Message Me</a>
            </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a asp-page="/Profile/Index">ABOUT</a></li>
            <li class="nav-item"><a asp-page="/Profile/Photos">PHOTOS</a></li>
            <li class="nav-item"><a asp-page="/Profile/MITB/Index">MITB</a></li>
            <li class="nav-item"><a href="#profile-photos">LEXICON</a></li>
            <li class="nav-item"><a href="#profile-photos">LAST VISITORS</a></li>
        </ul>
    </div>
</div>